<%- include('../partials/header') %>

<h1>Artist Page</h1>
<!-- <h1><%= artist.name %></h1> -->
<!-- section: release 1 NEEDS label--> 
<div>Album Art</div>
<div>album name</div>
<!-- <div><%= release.title %>></div> -->

<!-- REVIEW writing space -->

<%- include('../partials/footer') %>