
<%- include("./partials/header") %>
<!-- LOGO image! -->
<img src="/public/images/Hypin.svg">
<p class="main-title">Hypin is your app for simping your favorite music</p>

<% if (user) { %>
    <h3 class="main-title">YO YO</h3>

<% } else { %>
    
    <h5>Welcome to Hypin'!</h5>
<% } %>


<%- include("./partials/footer") %>