
<%- include("./partials/header") %>
<!-- LOGO image! -->
<img id="hypin-home-gif" src="/images/Hypin.gif"><br><br>
<p class="main-title">Hypin' is your app for simping your favorite music!</p>

<% if (user) { %>
    <h3 class="main-title">YO YO</h3>

<% } else { %>
    
    <h5 class="main-title"> Welcome to Hypin'!!!</h5>
<% } %>


<%- include("./partials/footer") %>