
<%- include("./partials/header") %>
<!-- LOGO image! -->
<h1>COME GET HYPED!</h1>
<p>Hypin is your app for simping your favorite music</p>

<% if (user) { %>
    <h3>YO YO</h3>

<% } else { %>
    
    <h5>Welcome to Hypin'!</h5>
<% } %>


<%- include("./partials/footer") %>