<%- include('../partials/header') %>

<% if (artistNotFound) { %>
    <h1 class="main-title">ARTIST NOT FOUND!</h1>
    <h4>Please try again.</h4>
    <h5><i>Search is case sensitive!</i></h5><br>
<% } else { %>
    <h1 class="main-title">FIND AN ARTIST!</h1>
    <h4>Enter a name into the field.</h4>
    <h5><i>Search is case sensitive!</i></h5><br>
<% } %>
<form action="/artists/find" method="POST">
    <label> Artist Name:
        <input name="artistname" type="text">
    </label><br><br>
    <button type="submit">SUBMIT</button>
</form>

<%- include('../partials/footer') %>